<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload"
          as="style"
          href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital@0;1&family=Bebas+Neue&display=swap" >
    <link rel="stylesheet"
          media="print"
          onload="this.media='all'"
          href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital@0;1&family=Bebas+Neue&display=swap" >

    <noscript>
      <link rel="stylesheet"
            href="/stylesheets/main.css" type="text/css" media="screen" />
    </noscript>

    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" />

    <title>Brave Clojure Jobs Blog<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div id="app">
      <div class="public solo">
        <div class="header">
          <a href="/" class="site-id">
            <img src="/images/hammer.png" class="site-logo">
            <span>brave clojure jobs blog</span>
          </a>
          <a href="/">jobs</a>
          <a href="/company">companies</a>
          <div class="hamburger-toggle">
            <a href="#">menu <i class="fa fa-bars" aria-hidden="true"> </i> </a>
          </div>
          <div class="hamburger-menu">
            <div class="menu-header">
              <span>menu</span>
              <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
            <a href="/">jobs</a>
            <a href="/company">companies</a>
          </div>
        </div>
        <div class="container">
          <div class="detail">
            <div class="about show">
              <%= yield %>
            </div>
          </div>
        </div>

     </div>
    </div>
  </body>
</html>
